!!===== rxvt-unicode (urxvt)
!!============================================

!URxvt.geometry:             [w]x[h]

URxvt.scrollBar_thickness:  3
URxvt.scrollBar_right:      true
URxvt.scrollBar_floating:   true
URxvt.scrollstyle:          plain
! rxvt / plain / next / xterm

!!=== cursol style
URxvt.cursorUnderline:      true
URxvt.cursorBlink:          true

!!=== start inputting -> disappear pointer
URxvt.pointerBlank:         true

!!=== alertion  sound -> visual bell
URxvt.visualBell:           true

!!=== baffa
URxvt.saveLines:            2000

!!=== after becoming out of cursol
URxvt.fading:               20

!! Font list and Spacing (xxx,yyy,zzz) (xft:font name-10 / xft:font name:pixelsize=10)
URxvt.font:                 xft:monospace:pixelsize=16
URxvt.lineSpace:            2
URxvt.letterSpace:          -1

!! Color Scheme and Opacity - gruvbox-dark https://github.com/morhetz/gruvbox
URxvt.depth:                32
URxvt.color0:               [80]#282828
URxvt.color1:               [80]#cc241d
URxvt.color2:               [80]#66bbee
URxvt.color3:               [80]#d79921
URxvt.color4:               [80]#458588
URxvt.color5:               [80]#b16286
URxvt.color6:               [80]#689d6a
URxvt.color7:               [80]#a89984
URxvt.color8:               [80]#928374
URxvt.color9:               [90]#55cc77
URxvt.color10:              [90]#55bbdd
URxvt.color11:              [80]#4499cc
URxvt.color12:              [80]#83a598
URxvt.color13:              [80]#d3869b
URxvt.color14:              [90]#aadd88
URxvt.color15:              [90]#aaccee
URxvt.foreground:           [80]#f0f0f0
URxvt.background:           [80]#222f28
URxvt.colorIT:              [80]#8ec07c
URxvt.colorBD:              [80]#d5c4a1
URxvt.colorUL:              [80]#83a598
URxvt.scrollColor:          [80]#504945
!URxvt.troughColor:          [80]#3C3836

!!=== Perl off
URxvt.perl-ext:
URxvt.perl-ext-common:
